

 window {
margin: 5px;
border: 2px solid #4d5057;
background-color: #b294bb;
}

#entry:selected {
background-color: #b294bb;
}

#text:selected {
color: black;
}

#input {
margin: 5px;
border: 2px solid #4d5057;
background-color: #4d5057;
color: #8abeb7;
}

#inner-box {
margin: 5px;
border: 2px solid #4d5057;
background-color: #4d5057;
}

#outer-box {
margin: 5px;
border: 2px solid #1d1f21;
background-color: #1d1f21;
}

###scroll {
##margin: 5px;
##border: 2px solid orange;
##background-color: orange;
##}

#text {
margin: 5px;
##border: 2px solid cyan;
##background-color: cyan;
color: #8abeb7;
}

let s:red = "cc6666"
let s:orange = "de935f"
let s:yellow = "f0c674"
let s:green = "b5bd68"
let s:aqua = "8abeb7"
let s:blue = "81a2be"
let s:purple = "b294bb"
let s:window = "4d5057"
